<div class="row">
    <div class="col-3">
        <h4>View User Details</h4>
    </div>
    <div class="col">
        <button type="button" class="btn btn-dark btn-sm" (click)="navigateToUserList()">Back to List</button>
    </div>
</div>

<div *ngIf="isLoaded" style="width: 500px;">
    <h5 style="color:blue;"> {{user.userName}} Details:</h5>

    <table class="table table-bordered table-sm">
        <tr class="table-info">
            <td><b>User Name </b></td>
            <td>{{user.userName}}</td>
        </tr>
        <tr class="table-info">
            <td><b>Email </b></td>
            <td>{{user.email}}</td>
        </tr>
        <tr class="table-info">
            <td><b>Mobile Number </b></td>
            <td>{{user.mobileNumber}}</td>
        </tr>
        <tr class="table-info">
            <td><b>User Role </b></td>
            <td>{{user.userRole }}</td>
        </tr>
    </table>
</div>