<div class="row">
    <div class="col-3">
        <h4>Edit Employee Details</h4>
    </div>
    <div class="col">
        <button type="button" class="btn btn-dark btn-sm" (click)="navigateToEmployeeList()">Back to List</button>
    </div>
</div>

<div *ngIf="isLoaded">

    <form [formGroup]="employeeForm" (ngSubmit)="updateEmployee()">
        <div class="form-group">
            <label for="firstNameInput">First Name<span class="required-asterisk">*</span> </label>
            <input type="text" class="form-control" id="firstNameInput" placeholder="Enter First Name"
                formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="middleNameInput">Middle Name </label>
            <input type="text" class="form-control" id="middleNameInput" placeholder="Enter Middle Name"
                formControlName="middleName">
        </div>
        <div class="form-group">
            <label for="lastNameInput">Last Name </label>
            <input type="text" class="form-control" id="lastNameInput" placeholder="Enter Last Name"
                formControlName="lastName">
        </div>

        <div class="form-group">
            <label for="roleInput">Role<span class="required-asterisk">*</span></label>
            <select class="form-control" id="roleInput" formControlName="role">
                <option value="" disabled selected hidden> -- Select Role -- </option>
                <option value="SE">Software Engineer</option>
                <option value="SSE">Senior Software Engineer</option>
                <option value="TA">Technology Analyst</option>
                <option value="LEAD">Lead</option>
                <option value="MANAGER">Manager</option>
                <option value="CEO">CEO</option>
            </select>
        </div>

        <div class="form-group">
            <label for="salaryInput">Salary<span class="required-asterisk">*</span></label>
            <input type="text" class="form-control" id="salaryInput" placeholder="Enter Salary"
                formControlName="salary">
        </div>

        <div class="form-group">
            <label for="dobInput">Date of Birth<span class="required-asterisk">*</span></label>
            <input type="date" class="form-control" id="dobInput" placeholder="Pick a Date" formControlName="dob">
        </div>

        <div class="form-group">
            <label for="genderInput">Gender<span class="required-asterisk">*</span></label>
            <select class="form-control" id="genderInput" formControlName="gender">
                <option value="" disabled selected hidden> -- Select Gender -- </option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="maritalStatusInput">Marital Staus<span class="required-asterisk">*</span></label>
            <select class="form-control" id="maritalStatusInput" formControlName="maritalStatus">
                <option value="" disabled selected hidden> -- Select Marital Staus -- </option>
                <option value="MARRIED">Married</option>
                <option value="UNMARRIED">Unmarried</option>
            </select>
        </div>

        <div class="form-group">
            <label for="emailInput">Email </label>
            <input type="text" class="form-control" id="emailInput" placeholder="Enter Email" formControlName="email">
        </div>

        <div class="form-group">
            <label for="mobileNumberInput">Mobile Number </label>
            <input type="text" class="form-control" id="mobileNumberInput" placeholder="Enter Mobile Number"
                formControlName="mobileNumber">
        </div>

        <div class="form-group">
            <label for="addressInput">Address </label>
            <textarea name="addressInput" rows="4" cols="50" class="form-control" id="addressInput"
                placeholder="Enter Address" formControlName="address"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Submit</button>
        <button type="button" class="btn btn-warning button-align" (click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-secondary button-align" (click)="navigateToEmployeeList()">Cancel</button>
    </form>
</div>