<div id="login" *ngIf="isLoaded">

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">

                    <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
                        <h3 class="text-center text-info">Sign In</h3>
                        <div class="form-group">
                            <label for="userNameInput" class="text-info">User Name</label><br>
                            <input type="text" id="userNameInput" class="form-control" placeholder="Enter User Name"
                                formControlName="userName">
                        </div>
                        <div class="form-group">
                            <label for="passwordInput" class="text-info">Password</label><br>
                            <input type="password" id="passwordInput" class="form-control" placeholder="Enter Password"
                                formControlName="password">
                        </div>

                        <div class="form-group">
                            <label for="rememberMeInput" class="text-info"><span>Remember me</span> 
                                <span><input type="checkbox" id="rememberMeInput" formControlName="keepLogin"></span>
                            </label>
                        </div>

                        <div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <span style="margin-left: 10px;">
                                    <a routerLink="/login/sign-up">Sign up</a>
                                </span>
                                <span style="margin-left: 10px;">
                                    <a class="text-dark" routerLink="/login/forgot">Forgot password?</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>