
<div class="container">
    <h6>Parent & Child Component Interaction (using @Input & @Output)</h6>
    <div class="row row-border">
        <div class="col">
            <app-parent></app-parent>
        </div>
    </div>

    <hr>
    <h6>Components Interaction without Parent & Child relationship (using Service class)</h6>
    <div class="row row-border">
        <div class="col-5 col-border">
            <app-teacher></app-teacher>
        </div>
        <div class="col-1"></div>
        <div class="col-5 col-border">
            <app-student></app-student>
        </div>
    </div>
</div>
