
    <div>
        <button class="btn btn-success btn-sm" (click)="addUser()">Add</button>
        <button class="btn btn-danger btn-sm button-align" (click)="refreshUserList()"
            [disabled]="users?.length">Refresh</button>
    
        <div *ngIf="!(users?.length > 0) && isLoaded" style="margin-top: 10px;">
            <h4 style="color:red;"> No records found </h4>
        </div>
        <div *ngIf="(users?.length > 0)" style="margin-top: 10px;">
    
            <table class="table table-sm table-bordered table-hover">
                <tr>
                    <th>Full Name</th>
                    <th>User Id</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Access</th>
                    <th>Actions</th>
                </tr>
    
    
                <tr *ngFor="let user of users;index as i" [class]="geClass(i)">
                    <td>{{user.fullName}}</td>
                    <td>{{user.userId}}</td>
                    <td>{{user.mobileNumber}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.accessTypes}}</td>

                    <td style="width: 170px;">
                        <button class="btn btn-info btn-sm" (click)="viewUser(user)">View</button>
                        <button class="btn btn-primary btn-sm button-align" (click)="editUser(user)">Edit</button>
                        <button class="btn btn-danger btn-sm button-align"
                            (click)="deleteUser(user.id)">Delete</button>
                    </td>
                </tr>
            </table>
    
        </div>
    </div>