<!-- <div class="container">
    <div class="row">
        <div class="col-12 float-center">
            <div class="text-danger">User Need to Login</div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid">
   <div *ngIf="isLoaded" class="row">
        <app-header [isUserLoggedIn]="isUserLoggedIn"></app-header>
    </div> 
    <div class="row">
        <div class="container-fluid" style="margin-top: 50px;">
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid">
    <router-outlet></router-outlet>
</div> -->